:root{
    --background: rgb(182, 182, 182);
    --border: red;
    --title: green;
    --fundo-sobre: gray;
}

body {
    background-color: var(--background);
}

img {
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    width: 230px;
    border-width: 10px;
    border-style: inset;
    border-color: var(--border);
}

.titulo {
    color: var(--title);
    text-align: center;
}

.sobre{
    background-color: var(--fundo-sobre);
    text-align: center;
    margin-left: 700px;
    width: 500px;
}